{% extends "admin/import_export/change_list_export.html" %}
{% load i18n %} 
{% block search %}
  {{ block.super }}
  <div class="disclaimer breadcrumb">
    <strong>{% trans 'Código de colores' %}</strong>: <span class="text-info">{% trans 'AZUL' %}</span>: {% trans 'Ninguna reserva' %}; <span class="text-success">{% trans 'VERDE' %}</span>: {% trans 'Más de la mitad del aforo disponible' %}; <br/><span class="text-warning">{% trans 'AMARILLO' %}</span>: {% trans 'Menos de la mitad del aforo disponible' %}; <span class="text-error">{% trans 'ROJO' %}</span>: {% trans '10 butacas o menos disponibles' %}.
  </div>
{% endblock %}


{% block result_list %}
    {{ block.super }}
    {% block stats %}
        {% if cl.result_count %}
            {% load admin_stats_tags %}
            {% collect_stats for cl as stats %}
            {% if stats %}
            <div class="row">
                <div class="span6 offset4">
                    <!--<div id="admin-stats" class="table table-striped table-bordered table-hover table-condensed">-->
                    <div id="admin-stats" >
                        <table>
                            <thead><tr><th colspan="2">{% trans "Estadísticas" %}</th></tr></thead>
                            <tbody>
                                {% for label, value in stats %}
                                    <tr><td>{{ label }}</td><td>{{ value|safe }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock result_list %}