{% extends "admin/change_list.html" %}
{% load i18n %} 
{% block search %}
  {{ block.super }}
  <div class="disclaimer breadcrumb">
    <i class="icon-info-sign"></i> {% trans 'Cómo crear fácilmente <strong>varios correos a partir de un modelo base</strong>:' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;{% trans '1.- Crea un primer correo presionando el botón verde de la derecha y sálvalo ("Grabar").' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;{% trans '2.- Clona el correo de la siguiente manera:' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans '2.1.- Pincha sobre el correo en esta tabla como si fueras a editarlo.' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans '2.2.- Modifica los campos que necesites y presiona <strong>"Grabar como nuevo"</strong>.'%}
  </div>
{% endblock %}


