{% extends "admin/import_export/change_list_export.html" %}
{% load i18n %} 
{% block search %}
  {{ block.super }}
  <div class="disclaimer breadcrumb">
    <strong><i class="icon-info-sign"></i></strong> {% trans 'Cómo crear fácilmente <strong>varias funciones de una misma obra</strong>:' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;{% trans '1.- Crea una primera función con "Añadir Función" y sálvala ("Grabar").' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;{% trans '2.- Clona la función de la siguiente manera:' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans '2.1.- Pincha sobre la función en esta tabla como si fueras a editarla.' %}
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans '2.2.- Modifica la fecha y hora y presiona <strong>"Grabar como nuevo"</strong>.'%}
  </div>
{% endblock %}


