{% extends "admin/import_export/change_list_export.html" %}
{% load i18n %} 


{% block result_list %}
    {{ block.super }}
    {% block stats %}
        {% if cl.result_count %}
            {% load admin_stats_tags %}
            {% collect_stats for cl as stats %}
            {% if stats %}
            <div class="row">
                <div class="span6 offset4">
                    <!--<div id="admin-stats" class="table table-striped table-bordered table-hover table-condensed">-->
                    <div id="admin-stats" >
                        <table>
                            <thead><tr><th colspan="2">{% trans "Estadísticas" %}</th></tr></thead>
                            <tbody>
                                {% for label, value in stats %}
                                    <tr><td>{{ label }}</td><td>{{ value|safe }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock result_list %}