{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{# Load the tag library #}
{% load bootstrap3 %}


{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    <div class="main-row">
        <div class="container" style="padding-bottom:10%;">
            <div class="col-xs-8 col-xs-offset-2">
                <h2 class="text-center">{% trans 'Sobre <span class="text-teyat">teyat</span>' %}</h2>
                <p>{% trans 'Bajo la premisa de que la tecnología es un medio para mejorar, teyat es la solución para facilitar que los espacios culturales puedan <strong>gestionar toda su programación e información de clientes</strong> en una única plataforma en cualquier momento y lugar.' %}</p>
                <p>{% trans 'La filosofía de teyat es simple: ofrecer a los pequeños teatros y compañías independientes de toda España (los que más dificultades tienen para automatizar su gestión) <strong>una herramienta de calidad que les ahorre tiempo y esfuerzo</strong> y les permita dedicarse a lo que realmente importa: la cultura.' %}</p>
                
                <p>{% trans 'Así, teyat nace con la vocación de ofrecer un servicio orientado a los teatros que ofrecen campañas escolares para, poco a poco, ir expandiendo sus servicios y funcionalidades al ritmo que vayan marcando estos teatros.' %}</p>
                <br>
                
                <h2 class="text-center">{% trans 'Los creadores' %}</h2>
                <img src="{% get_static_prefix %}images/creadores-teyat.jpg" class="img-responsive" alt="{% trans 'Fundadores de teyat'%}">
                <br/><br/>
                <p>{% trans '<a href="mailto:tatiana.gamboa@teyat.es">Tatiana Gamboa</a> es doctora en biomateriales por la Universidad Politécnica de Valencia (UPV) y posee un profundo conocimiento en optimización y posicionamiento de páginas web.' %}</p>
                <p>{% trans '<a href="mailto:javier.vicente@teyat.es">Javi Vicente</a> es doctor en ingeniería informática por la UPV con una dilatada experiencia como desarrollador de aplicaciones web.' %}</p>
                <p>{% trans 'Ambos comparten la visión de poner sus capacidades al servicio de lo que les apasiona.' %}</p>
                <br/>
                <h2 class="text-center">{% trans 'Antecedentes' %}</h2>
                
                <p>{% trans 'Fruto de su interés por la informática médica, Javi ha desarrollado para APILAM la web <a href="http://e-lactancia.org" target="_blank">e-lactancia.org</a>, que es referente mundial para la consulta de la compatibilidad de la lactancia materna con cientos de medicamentos, tóxicos, hierbas medicinales y condiciones en la madre y el lactante.' %}</p> 
                <p>{% trans 'La pasión compartida por viajar y descubrir nuevos destinos llevó a Tatiana y Javi a co-fundar <a href="https://wildcaribe.com" target="_blank">Wild Caribe</a> junto con otros dos socios. Esta plataforma online se ha concebido para que el viajero busque alojamiento en casas particulares de Cuba para vivir una experiencia más auténtica.' %}</p>
                <p>{% trans 'Además, desde el blog <a href="http://conlosochosentidos.com" target="_blank">con los ocho sentidos</a>, Javier y Tatiana realizan una labor de difusión científica y de hábitos saludables combinando rigor y humor.' %}</p>
                <br/>
                <p>{% trans 'Con <span class="text-teyat">teyat</span>, Tatiana y Javi ponen su talento al servicio de otra de sus pasiones: el mundo del arte y la cultura.' %}</p>
                <br><br>
            </div>
        </div>
    
    </div> {# Container MAIN-ROW end #}

{% endblock %}

