{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{% block extra_head %}
    <link rel="stylesheet" type='text/css' href="{% get_static_prefix %}css/landing.css"/>
{% endblock %}


{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    
    
    <div class="main-row">

    
    {% include 'teyat/landing_features.html' %}
    {% include 'teyat/landing_features_table.html' %}
    {% include 'teyat/partial_registrate.html' %}
    
    </div> {# Container MAIN-ROW end #}

{% endblock %}

{% block JavaScript %}
<script>
    //$('[data-toggle="popover"]').popover({
    //container: 'body'
    //});
    $("#info_anual").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            title: '{% trans "¿Por qué un plan anual?" %}',
            content: "{% trans 'Te ahorrarás 2 mensualidades. Además, resulta más sencillo para tu departamento de contabilidad porque solo haces una transacción en lugar de 12.' %}" 
        });
    $("#feat-manual").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Acceso al manual de uso de teyat siempre disponible on-line.' %}" 
        });
    $("#feat-interface").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Menús, tablas y formularios sencillos. Para que le saques el mayor partido a teyat desde la primera toma de contacto.' %}" 
        });
        $("#feat-support").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Para cualquier duda sobre tu suscripción o facturación, puedes escribirnos a' %}" + " <a href='mailto:soporte@teyat.es'>soporte@teyat.es</a>. " + "{% trans 'Te atenderemos lo antes posible.' %}"
        });
        $("#feat-technical").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Para cualquier problema técnico o de uso de teyat, escríbenos a' %}" + " <a href='mailto:soporte@teyat.es'>soporte@teyat.es</a>. " + "{% trans 'Te atenderemos lo antes posible.' %}" 
        });
        $("#feat-export").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Puedes exportar a Excel los datos que subas a teyat.' %}" 
        });
        $("#feat-encrypt").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Nos tomamos tu privacidad y las de tus datos muy en serio. Por eso encriptamos toda tu información con un certificado de seguridad de 256 bits, el actual estándar que se emplea en el comercio seguro on-line.' %}" 
        });
        $("#feat-mails").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Puedes mandar los correos que configures para tus clientes con el logo de tu teatro y la dirección de correo que normalmente empleas para tus campañas.' %}" 
        });
        $("#feat-languages").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Elige si quieres comunicarte con tus clientes en castellano, catalán o en ambos idiomas. Cada usuario de tu equipo puede elegir el idioma en que navega en teyat.' %}" 
        });
        $("#feat-users").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Dale a cada miembro de tu equipo su propia cuenta. Las acciones de cada usuario quedan registradas en teyat y pueden ser fácilmente monitorizadas por cualquier usuario del equipo.' %}" 
        });
        $("#feat-more").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Las campañas escolares son solo el principio. Queremos seguir creciendo contigo.' %}"
        });
</script>
{% endblock%}