{% extends "easy_pdf/base.html" %}
{% load i18n %}
{% load static %} 

{% block layout_style %}
    <style type="text/css">
    
        
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 5.0cm;
            margin-bottom: 2cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 0.8cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2cm;
            }
        }
    
        
        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
            font-family: "Helvetica", "sans-serif";
        }
        table {
            line-height: 140%;
            margin-bottom: 20px;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-left: 0.1pt solid #999999;
                border-right: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }
            
            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;
                font-weight: bold;
            }
            td {
                font-size: 14pt;
                font-family: "Helvetica", "sans-serif";
                vertical-align: top;
                padding: 3px 0;
            }
            td:last-child { padding-bottom: 0; }
        .text-left { text-align: left; padding-left:5px; padding-right:5px;}
        .text-right { text-align: right; padding-left:5px; padding-right:5px; }
        .text-center { text-align: center; padding-left:5px; padding-right:5px; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { display:inline; color: #313131; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .logo { margin-bottom: 20px; margin-left: 0px; }
        .logo img { zoom: 40%; }
        .header-link { font-weight: bold; text-decoration: none; color: #4a91f8; font-size: 20px; }
        .recipient { margin-left: 7cm; }
        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4a91f8;
        }
        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }
        .main h3 {
            margin: 18px 0 6px 0;
            font-size: 140%;
            font-weight: normal;
        }
        .info { border: 1px solid #4a91f8; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4a91f8; text-decoration: none; }
    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header">
            
            <p class="logo"><img src="{{obra_campanya.obra.owner.logo_nb.url}}" style="margin-bottom: 20px; margin-left: 0px; margin-right: 150px" width="210"/>  
            </p>
            <p>{{obra_campanya.campanya.nombre}}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
       
    <div id="content">
        <div class="main">
            <h1>{{obra_campanya.obra.nombre}} ({{obra_campanya.obra.companyia.nombre}})</h1>
            {% if funciones_y_reservas %}
            {% for funcion, reservas in funciones_y_reservas %}
                <h2>{{funcion.fecha_hora|date:'l'}} {{funcion.fecha_hora|date:'DATE_FORMAT'}}<h2>
                <h3>{{funcion.fecha_hora|date:'TIME_FORMAT'}}<h3>
                
                {% for r in reservas %}
                        
                <table class="bordered bottom-20">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">{% trans "Centro" %}</th>
                            <th class="text-left" colspan="4">{{r.centro.nombre}} ({{r.centro.poblacion.nombre}})</th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="2">{% trans "Contacto" %}</th>
                            <th class="text-left" colspan="4">{% if r.responsable %}{{r.responsable.nombre}} 
                                                                    {% if r.responsable.email %}{{r.responsable.email}}{% endif %}
                                                                    {% if r.responsable.telefono %} - {{r.responsable.telefono}}
                                                                        {% elif r.centro.telefono %} - {{r.centro.telefono}} ({% trans 'centro' %})
                                                                   {% endif %}
                                                                    
                                                  {% else %}{{r.centro.email}} {% if r.centro.telefono %}- {{r.centro.telefono}}{% endif %}{% endif %}
                            </th>
                        </tr>
                   </thead>
                   <thead>
                   
                        <tr>
                            <th class="text-center">{% trans "Reserva" %}<br>a/m</th>
                            <th class="text-center">{% trans "Asistencia" %}<br>a/m</th>
                            <th class="text-center">{% trans "Visita Guiada" %}</th>
                            <th class="text-center">{% trans "Total Reserva" %}</th>
                            <th class="text-center">{% trans "Estado Reserva" %}</th>
                            <th class="text-center">{% trans "Total Asistencia" %}</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td class="text-center"><p>{{r.alumnos_previsto}} / {{r.maestros_previsto}}</p></td>
                            <td class="text-center"><p> {# a rellenar por el maestro #} {% if funcion.fecha_hora < now %} {{r.alumnos_real}} / {{r.maestros_real}} {% endif %}</p></td>
                            <td class="text-left"><p>{% if r.visita_guiada %}{% trans "Sí" %}{% else %}{% trans "No" %}{% endif %}</p></td>
                            <td class="text-right"><p>{{r.precio_previsto}} €</p></td>
                            <td class="text-right"><p>{{r.get_estado_display}}</p></td>
                            <td class="text-right"><p>{# a rellenar por el maestro #} {% if funcion.fecha_hora < now %} {{r.precio_real}} € {% endif %}</p></td>
                        </tr>
                        
                    </tbody>
                </table>
                {% endfor %}
                
                <!--
                <table class="bordered bottom-20">
                    <thead>
                        <tr>
                            <th class="text-center" width="18%">{% trans "Centro" %}</th>
                            <th class="text-center" width="33%">{% trans "Persona contacto" %}</th>
                            <th class="text-center">{% trans "Reserva" %}<br>a/m</th>
                            <th class="text-center">{% trans "Asistencia" %}<br>a/m</th>
                            <th class="text-center">{% trans "Actividades Complementarias" %}</th>
                            <th class="text-center">{% trans "Total Reserva" %}</th>
                            <th class="text-center">{% trans "Estado Reserva" %}</th>
                            <th class="text-center">{% trans "Total Asistencia" %}</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for r in reservas %}
                        <tr>
                            <td class="text-left"><p>{{r.centro.nombre}} <br>({{r.centro.poblacion.nombre}})</p></td>
                            <td class="text-left"><p>{{r.responsable.nombre}}<br>{{r.responsable.email}}<br>{{r.responsable.telefono}}</p></td>
                            <td class="text-center"><p>{{r.alumnos_previsto}} / {{r.maestros_previsto}}</p></td>
                            <td class="text-center"><p> {# a rellenar por el maestro #} {% if funcion.fecha_hora < now %} {{r.alumnos_real}} / {{r.maestros_real}} {% endif %}</p></td>
                            <td class="text-left"><p>{% if r.visita_guiada %}{% trans "Sí" %}{% else %}{% trans "No" %}{% endif %}</p></td>
                            <td class="text-right"><p>{{r.precio_previsto}} €</p></td>
                            <td class="text-right"><p>{{r.get_estado_display}}</p></td>
                            <td class="text-right"><p>{# a rellenar por el maestro #} {% if funcion.fecha_hora < now %} {{r.precio_real}} € {% endif %}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                -->
                <p class="bottom-20">
                {% if funcion.fecha_hora < now %}
                    {% trans "Previsto" %}:<br>
                    {% trans "Total entradas de la sesión:" %} {{funcion.aforo_alumnos_previsto}} {% trans "alumnos" %}, {{funcion.aforo_maestros_previsto}} {% trans "maestros" %}. {{funcion.aforo_ocupado_previsto}} {% trans "espectadores" %}<br>
                    {% trans "Total entradas con actividades complementarias:" %} {{funcion.entradas_visitas_guiadas_previsto}} {% trans "espectadores" %}<br>
                    {% trans "Total ingresos de la sesión:" %} {{funcion.recaudacion_funcion_prevista}} €<br>
                    {% trans "Total entradas de las actividades complementarias:" %} {{funcion.recaudacion_visitas_prevista}} €<br><br>
                    {% trans "Real" %}:<br>
                    {% trans "Total entradas de la sesión:" %} {{funcion.aforo_alumnos_real}} {% trans "alumnos" %}, {{funcion.aforo_maestros_real}} {% trans "maestros" %}. {{funcion.aforo_ocupado_real}} {% trans "espectadores" %}<br>
                    {% trans "Total entradas con actividades complementarias:" %} {{funcion.entradas_visitas_guiadas_real}} {% trans "espectadores" %}<br>
                    {% trans "Total ingresos de la sesión:" %} {{funcion.recaudacion_funcion_real}} €<br>
                    {% trans "Total entradas de las actividades complementarias:" %} {{funcion.recaudacion_visitas_real}} €
                    
                {% else %}
                    {% trans "Total entradas de la sesión:" %} {{funcion.aforo_alumnos_previsto}} {% trans "alumnos" %}, {{funcion.aforo_maestros_previsto}} {% trans "maestros" %}. {{funcion.aforo_ocupado_previsto}} {% trans "espectadores" %}<br>
                    {% trans "Total entradas con actividades complementarias:" %} {{funcion.entradas_visitas_guiadas_previsto}} {% trans "espectadores" %}<br>
                    {% trans "Total ingresos de la sesión:" %} {{funcion.recaudacion_funcion_prevista}} €<br>
                    {% trans "Total entradas de las actividades complementarias:" %} {{funcion.recaudacion_visitas_prevista}} €
                {% endif %}
                </p>
            {% endfor %}
            
            {% else %}
            <p>{% trans "No hay ninguna reserva que mostrar." %}</p>

            {% endif %}
        </div>
    </div>
    
{% endblock %}