{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container ptb" >
                
                <div class="text-center row-space-6">
                <h2 class="row-space-1" style="margin-bottom: 50px;">{% trans "Aclaramos tus dudas" %}</h2> 
                </div>
                
                <div class="row centered pricing-table">
                    
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "¿Cómo funciona el periodo de prueba?" %}</h4>
                        <p>{% trans "Registrarse en teyat es totalmente gratis durante los primeros <s>14 días</s> 30 días. Una vez que tu periodo de prueba termine, solo tienes que escoger un plan. Si no escoges un plan, tu cuenta pasará a estar inactiva, pero no borraremos ninguno de tus datos." %}</p>
                    </div>
                
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "¿Cómo funcionan los planes?" %}</h4>
                        {#<p>{% trans "En el momento en que te suscribes a un plan, tienes acceso a teyat durante los siguientes 30 días (plan mensual) o 365 días (plan anual). Puedes renovar tu plan antes de que expire. Si no lo renuevas tu cuenta pasará a estar inactiva, pero no borraremos ninguno de tus datos." %}</p>#}
                        <p>{% trans "En el momento en que te suscribes a un plan, tienes acceso a teyat durante los siguientes 30 días (si eliges pagar mes a mes) o 365 días (si eliges pago anual). Puedes renovar tu plan antes de que expire. Si no lo renuevas tu cuenta pasará a estar inactiva, pero no borraremos ninguno de tus datos." %}</p>
                    </div>
                    
                
                </div>
                <br/>
                
                <div class="row centered pricing-table">
                    
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "¿Puedo cambiarme de plan?" %}</h4>
                        <p>{% trans "Sí, en cualquier momento. Tu nuevo plan comenzará a aplicarse cuando se agote el plan que tengas activo." %}</p>
                    </div>
                
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "¿Puedo darme de baja en cualquier momento?" %}</h4>
                        <p>{% trans "Sí. Basta con que no renueves tu plan. Si además quieres que borremos tus datos en teyat, escríbenos un correo a" %} <a href="mailto:soporte@teyat.es">soporte@teyat.es</a>.</p>
                    </div>
                    
                
                </div>
                <br/>
                <div class="row centered pricing-table">
                    
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "¿Cómo puedo obtener descuentos en los precios?" %}</h4>
                        <p>{% blocktrans with percent="%" %} Con nuestro plan de afiliados. Cada teatro que se una a teyat gracias a ti recibirá un descuento del 50{{percent}} durante un mes si se suscribe a una tarifa mes a mes o del 10{{percent}} adicional si se suscribe a una tarifa anual. Y tu teatro también. {% endblocktrans %}</p>
                    </div>
                
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "Me gusta teyat pero no ofrece todas las funcionalidades que busco. ¿Qué puedo hacer?" %}</h4>
                        <p>{% trans "Estamos encantados de ofrecer soluciones a medida." %} {% trans "Ponte en" %} <a href="{% url 'teyat_lang:contacto' %}">{% trans "contacto con nosotros" %}</a> {% trans "y cuéntanos cuáles son tus necesidades." %}</p>
                    </div>
                    
                
                </div>
                <br/>
                <div class="row centered pricing-table">
                    
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <h4>{% trans "Necesito más de 3 usuarios, ¿Puedo?" %}</h4>
                        <p>{% trans "Por supuesto. Puedes tener tantos usuarios adicionales como necesites por 10 € / mes + IVA por usuario si pagas mes a mes o 50 € / año + IVA por usuario con tu plan anual." %}</p>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6" style="margin-bottom: 50px;">
                        <!--<h4>{% trans "He consultado la documentación, pero no puedo hacer lo que quiero ¿Puedo contactaros?" %}</h4>-->
                        <h4>{% trans "Tengo dudas sobre el funcionamiento del sistema y no puedo hacer lo que quiero ¿Puedo contactaros?" %}</h4>
                        <p>{% trans "Sin duda. Si después de consultar nuestros videos todavía necesitas asistencia técnica, puedes contactar con nuestro servicio técnico de lunes a jueves de 9h a 13:30h y de 15:30 a 18h y viernes de 9h a 14h. Mándanos un correo con tus dudas a" %} <a href="mailto:soporte@teyat.es">soporte@teyat.es</a>.</p>
                    </div>

                </div>{# /row #}
                <br/>
                <div class="row centered pricing-table">
                    <div class="col-xs-12 col-sm-6 " style="margin-bottom: 50px;">
                        <h4>{% trans "Tengo una Excel con todos los datos de mis clientes y/o reservas, ¿Podéis ayudarme a importar la información a teyat?" %}</h4>
                        <p>{% trans "Claro. En teyat queremos aliviar tu trabajo, no darte más. Pero necesitamos ver primero cómo tienes estructurada la información en tu Excel para realizar un plan de importación personalizado. Mándanos tu petición sin compromiso a <a href='mailto:importacion@teyat.es'>importacion@teyat.es</a> y te elaboraremos un presupuesto a medida." %}</p>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 " style="margin-bottom: 50px;">
                        <h4>{% trans "Este software tiene un nombre curioso, ¿tiene algún significado?" %}</h4>
                        <p>{% trans "Hemos escogido el nombre de teyat porque nos suena bien, es corto y fácil de pronunciar en cualquier idioma.<br/><br/>Y además significa teatro en Haitiano ;-)" %}</p>
                    </div>
                    
                </div>{# /row #}
                <br/><br/>
    </div>  