{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container ptb" id="feature_table">
                
            
                <div class="row centered pricing-table">
                    
                    <div class="pricing-table">
                             <div class="row"><br />
                                            
                                <div class=" col-sm-6 col-sm-offset-3 col-xs-12 ">
                                    <div class="price-table">
                                        <div class="p-head"><h2 style="margin-bottom:-110px;">{% trans "Características" %}</h2>
                                        <br/><small>({% trans 'pasa por encima para más información' %})</small></div>
                                        <div class="p-body"></p>
                                            <ul class="features" style="cursor: help;">
                                                <!--<li id="feat-manual">{% trans "Manual de usuario" %}</li>-->
                                                <li id="feat-interface">{% trans "Interfaz fácil e intuitiva" %}</li>
                                                <li id="feat-export">{% trans "Tus datos son exportables" %}</li>
                                                <!--<li id="feat-encrypt">{% trans "Encriptación de tus datos" %}</li>-->
                                                <li id="feat-mails">{% trans "Mails personalizables" %}</li>
                                                <li id="feat-languages">{% trans "Sistema multilingüe" %}</li>
                                                <li id="feat-users">{% trans "3 usuarios" %}</li>
                                                <li id="feat-support">{% trans "Servicio de atención" %}</li>
                                                <li id="feat-technical">{% trans "Servicio técnico" %}</li>
                                            </ul>
                                            <p>
                                            <div id="feat-more" class="price" style="cursor: help;">
                                                <span class="detail">{% trans 'Y mucho más' %}</span>
                                                <p class="small"><br/></p>
                                            </div>
                                            
                                       </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>{# row #}    
                    </div> {# PRICING TABLE #}
                            
                </div>
                
                
               
            </div>{# /container ptb #}


