{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{% load humanize %}
<div class="container ptb">
    <div class="text-center ">
                <h2 style="margin-bottom: 50px;"><span class="h1 text-teyat">teyat</span> {% trans "comenzará a funcionar el próximo" %}</h2>
                <h2 style="margin-bottom: 50px;">{{LAUNCH_TIME|date:"l"}}, {{LAUNCH_TIME|date:"DATETIME_FORMAT"}}</h2>
                <h2 class="row-space-1" style="margin-bottom: 50px;">{% trans 'Tiempo restante:' %} {{LAUNCH_TIME|timeuntil}}</h2> 
                <h3 class="row-space-1" style="margin-bottom: 50px;">{% trans "Da el paso ahora y descubre cómo se transforma la gestión de tu teatro" %}</h3>
                <div class="pricing-button">
                        <a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button" data-toggle="modal">{% trans 'Solicitar prueba gratis' %}</a>
                </div>
    </div>
</div>