{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container container-emotive">
                
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-sm-6">
                        <div class="row centered">
                            <span class="fa-stack fa-2x" style="vertical-align: middle;">
                                <i class="fa fa-table fa-stack-1x text-wc" style="margin-top: .3em;"></i>
                                <i class="fa fa-file-o fa-stack-2x text-wc"></i>
                                <div class="visible-xs botom-space"></div>
                            </span>
                            <i class="fa fa-arrow-right fa-3x text-wc" style=" vertical-align: middle;"></i> 
                            <span class="fa-stack fa-2x" style=" vertical-align: middle;">
                                <i class="fa fa-cloud fa-stack-2x text-wc" ></i>
                                <p class="fa fa-stack-1x cloud-text">tyt</p>
                            </span>
                        </div>
                        <h2 class="h3 text-center">{% trans 'Descubre una nueva forma' %} {% trans "de gestionar" %} {% trans 'tus campañas escolares' %}</h2>
                        <p class="text-center hidden-xs">{% trans "Olvídate de anotar tus reservas y contactos en hojas de cálculo interminables" %}</p>
                        <div class="visible-xs botom-space"></div>
                    </div>  
                    
                    <div class="col-xs-12 col-sm-6">
                        <div class="row centered">
                            <i class="fa fa-clock-o fa-4x text-wc" style="vertical-align: middle;"></i> 
                        </div>
                        <h2 class="h3 text-center">{% trans 'Ahorra tiempo y esfuerzo' %} <br/> {% trans "Y dedícate a lo realmente importante" %}</h2>
                        <p class="text-center hidden-xs">{% trans "Manda mails antes o después de cada función automáticamente" %} </p>
                        
                    </div>  
                    
                </div>
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-sm-6">
                        <div class="row centered">
                            <i class="fa fa-users fa-4x text-wc" style="vertical-align: middle;"></i> 
                            <i class="fa fa-check fa-4x text-wc" style=" vertical-align: middle;"></i> 
                        </div>
                        <h2 class="h3 text-center">{% trans 'Consigue gestionar tus aforos en tiempo real' %}</h2>
                        <p class="text-center hidden-xs">{% trans "Para que maximices las asistencias de cada representación" %}</p>
                        <div class="visible-xs botom-space"></div>
                    </div>  
                     
                
                    <div class="col-xs-12 col-sm-6">
                        <div class="row centered">
                            <i class="fa fa-star text-wc" style="vertical-align: middle;"></i>
                            <i class="fa fa-star fa-lg text-wc" style="vertical-align: middle;"></i>
                            <i class="fa fa-star fa-2x text-wc" style="vertical-align: middle;"></i> 
                            <i class="fa fa-star fa-3x text-wc" style="vertical-align: middle;"></i>
                            <i class="fa fa-star fa-4x text-wc" style="vertical-align: middle;"></i>
                        </div>
                        <h2 class="h3 text-center">{% trans 'Tu oportunidad para seguir creciendo' %}</h2>
                        <p class="text-center hidden-xs">{% trans "Las campañas escolares son solo el principio" %}</p>
                    </div>  
                </div>
    </div>
