{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
<div class="container container-emotive" >
                
                <div class="text-center row-space-6">
                <h2 class="h1 row-space-1" style="margin-bottom: 3em;">{% trans "Un software pensado para teatros con campaña escolar" %}</h2> 
               </div>
                
                
                <div class="row botom-space">
                    
                    <div class="col-xs-12 col-md-1 col-md-offset-2">
                        <i class="fa fa-graduation-cap reason-icon center-icon"></i>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <h3 class="h2 reason-text">{% trans 'Te ayuda a gestionar tus centros escolares y personas de contacto' %}</h3>
                        <p class="h2 reason-text"><small>{% trans "Para que siempre tengas un registro ordenado y actualizado." %}</small></p>
                    </div>
                </div>  
                
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-md-1 col-md-offset-2">
                        <i class="fa fa-calendar-check-o reason-icon center-icon"></i>
                    </div>
                    <div class="col-xs-12 col-md-7">
                          <h3 class="h2 reason-text">{% trans 'Te permite administrar fácilmente tus reservas' %}</h3>
                          <p class="h2 reason-text"><small>{% trans "Crea, cancela o modifica una reserva tantas veces como necesites." %}</small></p>
                          <p class="h2 reason-text"><small>{% trans "Deja que teyat recalcule automáticamente los aforos de las funciones afectadas." %}</small></p>
                    </div>  
                </div>    
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-md-1 col-md-offset-2">
                        <i class="fa fa-ticket reason-icon center-icon"></i>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <h3 class="h2 reason-text">{% trans 'Te ayuda a gestionar el aforo de las funciones en tiempo real' %}</h3>
                        <p class="h2 reason-text"><small>{% trans "Conoce el aforo libre de cada función en el momento de hacer una reserva." %}</small></p>
                        <p class="h2 reason-text"><small>{% trans "Así puedes agrupar tus reservas para maximizar las asistencias a cada función." %}</small></p>
                    </div>                      
                </div>
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-md-1 col-md-offset-2">
                        <i class="fa fa-envelope-o reason-icon center-icon"></i>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <h3 class="h2 reason-text">{% trans 'Te permite automatizar el envío de correos electrónicos' %}</h3>
                        <p class="h2 reason-text"><small>{% trans "Para que tu atención al cliente sea todavía mejor." %}</small></p>
                        <p class="h2 reason-text"><small>{% trans "Programa el envío de correos personalizados a los responsables de las reservas." %}
                        <a class="showejemplos btn btn-link"><span>{% trans "Ver ejemplos" %}</span></a></small></p>
                        <div class="ejemplo_correos">
                            <ul>
                                <li class="h2 reason-text"><small>{% trans "Mandar un correo al crear, cancelar o modificar una reserva para notificar al responsable de la reserva." %}</small></li>
                                <li class="h2 reason-text"><small>{% trans "Mandar un correo 5 días antes de una función con la unidad didáctica y los detalles de la reserva." %}</small></li>
                                <li class="h2 reason-text"><small>{% trans "Mandar un correo de agradecimiento al día siguiente de una función." %}</small></li>
                            </ul>
                        </div>
                    </div>  
                </div>
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-md-1 col-md-offset-2">
                        <i class="fa fa-cloud reason-icon center-icon"></i>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <h3 class="h2 reason-text">{% trans 'Te permite acceder a tus datos de forma segura desde cualquier ordenador.' %} {% trans 'Siempre disponible.' %}</h3>
                        <p class="h2 reason-text"><small>{% trans "Para que puedas trabajar sin importar el momento o el lugar." %}</small></p>
                    </div>                      
                </div>
                
                <div class="row botom-space">
                    <div class="col-xs-12 col-md-1 col-md-offset-2">
                        <i class="fa fa-users reason-icon center-icon"></i>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <h3 class="h2 reason-text">{% trans 'Te facilita el trabajo en equipo' %}</h3>
                        <p class="h2 reason-text"><small>{% trans "Hasta 3 miembros de tu equipo pueden trabajar simultáneamente con los datos de tu teatro." %}</small></p>
                    </div>                      
                </div>
    </div>
