{% load static %} 
{% load i18n %} 
<!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top" id="top-navbar">
      <div class="container" id="topbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-topbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'teyat_lang:landing' %}">teyat</a>
            
        </div>       
        
        <div id="navbar-topbar" class="navbar-collapse collapse">
                <!--<ul class="nav navbar-nav">
                </ul>-->
                <ul id="top_bar_right_menu" class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'teyat_lang:features' %}">{% trans "Características" %}</a></li>
                    {% if not BEFORE_LAUNCH %}
                    <li><a href="{% url 'teyat_lang:prices' %}">{% trans "Precios" %}</a></li>
                    <li><a href="{% url 'teyat_lang:register' %}">{% trans "Pruébalo gratis" %}</a></li>
                    <li><a class="btn btn-login" type="button" href="{{base_url}}admin/login/?next=/admin/">{% trans "Iniciar sesión" %}</a></li>
                    {% endif %}
                    <li>
                        <form action="{% url 'set_language' %}" method="post" style="padding-left:15px;height:2px;">
                            {% csrf_token %}
                            {% if '/ca/' in request.path %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                            {% elif '/es/' in request.path %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                            {% else %}
                                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                            {% endif %}
                                <select class="selectpicker" id="language_top" name="language" data-width="auto" onchange="this.form.submit()">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} 
                                </option>
                                {% endfor %}
                                </select>
                        </form>    
                    </li>
                    
                </ul>
        </div><!--/.nav-collapse -->
    </nav>
    