{% load static %} 
{% load i18n %} 
{% load humanize %}
<div class="container container-emotive" style="padding-top: 0% !important;">
    <div class="text-center ">
                <div class="pricing-button">
                <p class="h3">
                {% if BEFORE_LAUNCH %}
                  {% trans "Da el paso ahora y descubre cómo se transforma la gestión de tu teatro" %}
                {% else %} 
                  {% trans "teyat te facilita la gestión de tu campaña escolar" %}&nbsp;&nbsp;
                {% endif %}
                    <a href="{% url 'teyat_lang:register' %}" class="btn btn-conf-2 btn-wc" role="button" style="margin-bottom:22px;">
                {% if  BEFORE_LAUNCH %}
                    {% trans 'Solicitar prueba gratis' %}
                {% else %} 
                    {% trans 'Pruébalo gratis' %}
                {% endif %}
                    </a>
                </p>
                </div>
    </div>
</div>