{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 
{% load teyat_extra %}
{% block extra_head %}
    <link rel="stylesheet" type='text/css' href="{% get_static_prefix %}css/teyat.css"/>
    <link rel="stylesheet" type='text/css' href="{% get_static_prefix %}css/landing.css"/>
    
{% endblock %}

{% block title_page %} {{title_page}}{% endblock %}

{% block datascroll %}style="overflow-x: hidden;" {% endblock %}
 
    {% block mainpage %}
    
    
    <div class="main-row">

     
    {% include 'teyat/landing_prices.html' %}
    {#{% include 'teyat/landing_features_table.html' %}#}
    {% include 'teyat/landing_faq.html' %}
    {% include 'teyat/partial_registrate.html' %}
    
    </div> {# Container MAIN-ROW end #}

{% endblock %}

{% block JavaScript %}
<script>
    $(".price-chooser .btn").on('click',function(){
        var a=$(this).attr("id"),b="mtm"===a?"annual":"mtm";$(".price-"+a).removeClass("hide"),$(".price-"+b).addClass("hide")}
        );
        
        
</script>
<script>
        $('#IVA a').click(function(){
    $(this).find('i').toggleClass('fa-toggle-off fa-toggle-on');
    
    if ($(this).find('i').hasClass('fa-toggle-off')) {
        if ($('#MONTH-YEAR a i').hasClass('fa-toggle-off'))  { //monthly. No VAT
            $(".price-monthly-no-vat").show();
            $(".price-monthly-vat").hide();
            $(".price-yearly-vat").hide();
            $(".price-yearly-no-vat").hide();
        }
        else { // Yearly. No VAT
            $(".price-monthly-no-vat").hide();
            $(".price-monthly-vat").hide();
            $(".price-yearly-vat").hide();
            $(".price-yearly-no-vat").show();
        }
    }
    else {
        if ($('#MONTH-YEAR a i').hasClass('fa-toggle-off'))  { // monthly. VAT
            $(".price-monthly-no-vat").hide();
            $(".price-monthly-vat").show();
            $(".price-yearly-vat").hide();
            $(".price-yearly-no-vat").hide();
        }
        else {  // yearly. VAT
            $(".price-monthly-no-vat").hide();
            $(".price-monthly-vat").hide();
            $(".price-yearly-vat").show();
            $(".price-yearly-no-vat").hide();
        }
    }
});
        $('#MONTH-YEAR a').click(function(){
    $(this).find('i').toggleClass('fa-toggle-off fa-toggle-on');
    
    if ($(this).find('i').hasClass('fa-toggle-off')) {
        
        if ($('#IVA a i').hasClass('fa-toggle-off')) { //monthly. No VAT
            $(".price-monthly-no-vat").show();
            $(".price-monthly-vat").hide();
            $(".price-yearly-vat").hide();
            $(".price-yearly-no-vat").hide();
        }
        else { // monthly. VAT
            $(".price-monthly-no-vat").hide();
            $(".price-monthly-vat").show();
            $(".price-yearly-vat").hide();
            $(".price-yearly-no-vat").hide();
        }
    }
    else {
        if ($('#IVA a i').hasClass('fa-toggle-off')) { // yearly. No VAT
            $(".price-monthly-no-vat").hide();
            $(".price-monthly-vat").hide();
            $(".price-yearly-vat").hide();
            $(".price-yearly-no-vat").show();
        }
        else {  // yearly. VAT
            $(".price-monthly-no-vat").hide();
            $(".price-monthly-vat").hide();
            $(".price-yearly-vat").show();
            $(".price-yearly-no-vat").hide();
        }
    }
});
</script>
<script>
    //$('[data-toggle="popover"]').popover({
    //container: 'body'
    //});
    $("#info_anual").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            title: '{% trans "¿Por qué un plan anual?" %}',
            content: "{% trans 'Te ahorrarás 2 mensualidades. Además, resulta más sencillo para tu departamento de contabilidad porque solo haces una transacción en lugar de 12.' %}" 
        });
    $("#feat-records").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Crea todas las campañas, obras y funciones que necesites. Crea tu lista de colegios y personas de contactos sin limitaciones. Crea todas las reservas que quieras.' %}" 
        });
    $("#feat-secure").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Accede a tus datos de forma segura y desde cualquier lugar.' %}" 
        });
    $("#feat-aforos").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Gestiona el aforo de las funciones en tiempo real. Compara fácilmente las asistencias previstas con las reales.' %}"
        });
        
    $("#feat-recaudaciones").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Visualiza las recaudaciones función a función, por obra y por campañas. Compara la recaudación esperada con la real.' %}"
        });
    $("#feat-correos").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Personaliza el correo con el logo de tu teatro y la dirección de correo que usas en tus campañas. Notifica automáticamente a la persona responsable cada vez que gestiones su reserva.' %}"
        });
    $("#feat-recordatorios").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Programa correos con adjuntos relevantes (como las unidades didácticas) para cada obra de tus campañas que se enviarán cuando tú quieras: Los clientes con reservas para esa obra recibirán el correo X días antes de la función que reservaron.' %}"
        });
    $("#feat-marca-mail").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'El logo de teyat no se muestra en el pie de página de los correos que se envíen.' %}"
        });
        
    $("#feat-usuarios").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Dale a cada miembro de tu equipo su propia cuenta. Las acciones de cada usuario quedan registradas en teyat y pueden ser fácilmente monitorizadas por cualquier usuario del equipo.' %}" 
        });    
    $("#feat-servicio").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Contáctanos para cualquier duda sobre tu suscripción, facturación, problema técnico o de uso de teyat.' %}"
        });
    $("#feat-manual").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Acceso al manual de uso de teyat siempre disponible on-line.' %}" 
        });
    $("#feat-interface").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Menús, tablas y formularios sencillos. Para que le saques el mayor partido a teyat desde la primera toma de contacto.' %}" 
        });
        $("#feat-support").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Para cualquier duda sobre tu suscripción o facturación, puedes escribirnos a' %}" + " <a href='mailto:soporte@teyat.es'>soporte@teyat.es</a>. " + "{% trans 'Te atenderemos lo antes posible.' %}"
        });
        $("#feat-technical").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Para cualquier problema técnico o de uso de teyat, escríbenos a' %}" + " <a href='mailto:soporte@teyat.es'>soporte@teyat.es</a>. " + "{% trans 'Te atenderemos lo antes posible.' %}" 
        });
        $("#feat-export").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Puedes exportar a Excel TODOS los datos que subas a teyat.' %}" 
        });
        $("#feat-encrypt").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Nos tomamos tu privacidad y las de tus datos muy en serio. Por eso encriptamos toda tu información con un certificado de seguridad de 256 bits, el actual estándar que se emplea en el comercio seguro on-line.' %}" 
        });
        $("#feat-mails").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Puedes mandar los correos que configures para tus clientes con el logo de tu teatro y la dirección de correo que normalmente empleas para tus campañas.' %}" 
        });
        $("#feat-languages").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Usa teyat en castellano o catalán. Comunícate con tus clientes en castellano, catalán o en ambos idiomas.' %}" 
        });
        
        $("#feat-more").popover({
            html : true,
            trigger: "hover",
            placement:'top',
            content: "{% trans 'Las campañas escolares son solo el principio. Queremos seguir creciendo contigo.' %}"
        });
</script>
{% endblock%}
     