{% extends "teyat/base.html" %} 
{% load static %} 
{% load i18n %} 

{% block mainpage %}
   <div class="text-center">{% trans 'Hemos reenviado un correo sobre el estado de la reserva:' %} <em>{{reserva}}</em> {% trans 'al correo' %} <strong>{{reserva.email}}</strong>. 
   <br/>{% trans 'Compruébalo refrescando la tabla de registros de correos' %} {% if correo.dias %} {% trans 'recordatorio' %} {% else %} {% trans 'de estado' %} {% endif %} {% trans 'de reserva' %}.</div>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>

{% endblock %}   
