<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {% for url in urls %}
  <url>
    <loc>http://teyat.es{{url}}</loc>
        <xhtml:link 
            rel="alternate"
            hreflang="es"
            href="http://teyat.es{{url}}"
        />
        <xhtml:link 
            rel="alternate"
            hreflang="es"
            href="http://teyat.es/es{{url}}"
        />
        <xhtml:link 
            rel="alternate"
            hreflang="ca"
            href="http://teyat.es/ca{{url}}"
        />
  </url>
  <url>
    <loc>http://teyat.es/es{{url}}</loc>
        <xhtml:link 
            rel="alternate"
            hreflang="es"
            href="http://teyat.es{{url}}"
        />
        <xhtml:link 
            rel="alternate"
            hreflang="es"
            href="http://teyat.es/es{{url}}"
        />
        <xhtml:link 
            rel="alternate"
            hreflang="ca"
            href="http://teyat.es/ca{{url}}"
        />
  </url>
  <url>
    <loc>http://teyat.es/ca{{url}}</loc>
        <xhtml:link 
            rel="alternate"
            hreflang="es"
            href="http://teyat.es{{url}}"
        />
        <xhtml:link 
            rel="alternate"
            hreflang="es"
            href="http://teyat.es/es{{url}}"
        />
        <xhtml:link 
            rel="alternate"
            hreflang="ca"
            href="http://teyat.es/ca{{url}}"
        />
  </url>
  {% endfor %}
</urlset>