/* PRICES styles (from close.io)*/

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.btn-group {
    position: relative;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.price-chooser {
    text-align: center;
    margin-bottom: 20px;
}


.price-chooser .btn.active:hover, .price-chooser .btn.active:active, 
.price-chooser .btn.active.active, .price-chooser .btn.active.disabled, .price-chooser .btn.active[disabled] {
    color: #fff;
    background-color: #990033;
}

.price-chart {
    text-align: center;
    margin: 0 0 30px 0;
}

.price-chart table {
    box-shadow: 3px 2px 0 0 #e8e8e8;
    margin: 0 auto 15px auto;
    border-radius: 5px;
}

.price-chart table td.empty, .price-chart table th.empty {
    background: transparent;
    border: 0;
}
.price-chart table th {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    border: 0;
    min-width: 165px;
}

.price-chart table td, .price-chart table th {
    border: 1px solid #EEE;
    background: #fafafa;
}

.price-chart table td.radius.top-left, .price-chart table th.radius.top-left {
    border-radius: 5px 0 0 0;
}
.price-chart table th.plan-name {
    background-color: #444;
    font-size: 30px;
    height: 45px;
    padding: 5px 17px;
    border-right: 1px solid #888;
}


.price-chart table th.plan-name:last-child {
    border-right: 0;
}

.price-chart table td.radius.top-right, .price-chart table th.radius.top-right {
    border-radius: 0 5px 0 0;
}

.price-chart table .price-row td {
    font-size: 22px;
    font-weight: bold;
}

.price-chart table td:nth-child(2), .price-chart table td:nth-child(3), .price-chart table td:nth-child(4) {
    width: 200px;
}

.price-chart table td {
    font-size: 16px;
    padding: 8px 5px;
}
.price-chart table td, .price-chart table th {
    border: 1px solid #EEE;
    background: #fafafa;
}

.price-chart table .price-row td span {
    font-size: 15px;
    font-weight: normal;
}

.price-chart table .price-row td .little {
    font-size: 11px;
    color: #777;
    font-weight: normal;
}

.price-chart table td:nth-child(3) {
    background: #fce0e1;
}

.help {
    cursor: help;
    border-bottom: 1px dashed grey;
    text-decoration: none; 
}

.price-chart table tr td:first-child {
    font-weight: bold;
    text-align: right;
    font-size: 14px;
    padding: 8px 10px;
    
}

.check {
    color: green;
    
}


/* ribbon style */

.ejemplo_correos{
    display: none;
}
 .ribbon-wrapper {
	position: relative;
}
  .ribbon-front-large {
	background-color: #990033;	height: 40px;
    color: #fff;
    width: 501px;
    padding-top: 10px;
	position: relative;
	left:-10px;
	z-index: 2;
}

.ribbon-front {
	background-color: #990033;	height: 40px;
    color: #fff;
    width: 210px;
    padding-top: 10px;
	position: relative;
	left:-10px;
	z-index: 2;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -10px;
	border-color: transparent #660025 transparent transparent;
}

  .ribbon-edge-topleft {
	top: -10px;
	border-width: 10px 10px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 10px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 200px;
	border-color: transparent transparent transparent #660025;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
	position: absolute;
	top: -10px;
	left: -30px;
	width: 30px;
	height: 40px;
	background-color: #980A39;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}




.centered {
    text-align: center;
}

.body-landing{
        margin-top:3%;
    }

.reason-icon {
    width: 80px !important;
    height: 80px;
    display: inline-block;
    border-radius: 999px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 2.8em;
    background: #990033;
}

.reason-text {
    text-align: left;
}

.container-emotive{
        width:100%;
        padding-top:6%;
        /*background-color: #ccc;*/
    }
    
.ptb {
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #fff;
  width: 100%;
}

.carousel-inner img {
  margin: auto;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: none;
}
.pricing-table {
  margin: 0px 70px;
}
.price-table {
  border: 2px solid #5a5a5a;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 5px;
}

.price-table .p-head {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
  line-height: 80px;
  border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
	color: #333333;
	border-bottom: 2px solid #ccc;
	padding: 22px 10px;
    margin-left: -40px;
    text-align: center;
	letter-spacing: 1px;
    height: 70px;
}

.price-table .p-body ul {
	list-style-type: none;
}

.p-body .price .detail {
	font-weight: 700;
	font-size: 45px;
	margin-left: 10px;
	margin-right: 10px;
}

.p-body .price .sub {
	font-size: 18px;
	color: #ccc;
	position: relative;
	bottom: 10px;
	font-weight: 700;
}



.price,.pricing-button{
    text-align:center;
}

.btn-conf-2 {
  border-radius: 50px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 28px 11px 28px;
  margin-top: 20px;
}



.types_of_tourism{
    font-family: 'asap-bold', 'open_sans';
}

.panel-overlay-label {
background-color: #6aa4f9;
background-color: rgba(106,164,249,0.9);
padding: 10px;
position: absolute !important;
width: 35%;
font-family: 'asap-italic';
color: #fff;
}

.form-search .typeahead {
    display: none;
}
.panel-overlay-label-2 {
background-color: #ed9f2f;
background-color: rgba(237,159,47,0.9);
padding: 10px;
position: absolute !important;
width: 35%;
font-family: 'asap-bold';
color: #fff;
}


.price-yearly-no-vat, .price-yearly-vat, .price-monthly-vat{
 display: none;
} 

.popover{
    width: 100%; /* Max Width of the popover (depending on the container!) */
}

.cloud-text{
    color: #ccc;
    
    font-family: 'Lobster', 'arial';"
    
}

.text-jumbo {
color: #990033;
font-size: 120px;
font-family: 'Lobster', 'arial';
/*text-shadow: 1px 1px #cc3366;*/
}

.row-space-1 {
margin-bottom: 6.25px;
}


.btn-semi-transparent {
background: #6aa4f9;
background: rgba(106,164,249,0.6);
border-style: none;
color: #fff;
}



.btn-large {
padding: 9px 27px;
font-size: 16px;
}







#container-where .typeahead,
#container-where .tt-query,
#container-where .tt-hint {
  height: 46px;
  padding: 8px 12px;
  font-size: 18px;
  line-height: 30px;
  /*border: 2px solid #ccc;*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  /*        border-radius: 8px;*/
  outline: none;
}

#container-where .typeahead {
  background-color: #fff;
}

#container-where .typeahead:focus {
  border: 2px solid #0097cf;
}

#container-where .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#container-where .tt-hint {
  color: #999
}

#container-where .tt-dropdown-menu {
  width: 500px;
  margin-top: 1px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#container-where .tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

#container-where .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
  cursor: pointer;
}

#container-where .tt-suggestion p {
  margin: 0;
}

#container-where .gist {
  font-size: 14px;
}

#container-where .search-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}


#container-where .tt-hint, #container-where .typeahead, #container-where .tt-suggestion {
  margin: 0 auto;
}

#container-where .empty-message {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  color: #888;
  }

.btn-white {
background: #fff;
border-style: none;
color: #9d9d9d;
}

#search_btn{
    /*width: 126px;*/
    margin-left: -77%;
}




.strong {
font-weight: bold;
}




.panel-overlay-listing-label-landing {
position: absolute !important;
bottom: 20px;
left: 0;
padding: 7px 10px;

}

.panel-overlay-featured-label-landing {
bottom: 65px;
height: 40px; 
left: 0;
top: 20px;
margin-bottom: -40px;
position: absolute !important;
padding: 7px 10px;

}

.panel-overlay-label-landing {
background-color: #6aa4f9;
background-color: rgba(106,164,249,0.9);
padding: 10px;
width: 60%;
position: absolute;
font-family: 'asap-italic';
color: #fff;
}

.panel-overlay-label-2-landing {
background-color: #ed9f2f;
background-color: rgba(237,159,47,0.9);
width: 60%;
position: absolute;
font-family: 'asap-bold';
color: #fff;
}



/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    
    .price-chart table td:nth-child(2), .price-chart table td:nth-child(3), .price-chart table td:nth-child(4) {
    width: auto;
}
    
    .reason-text {
    text-align: center;
}

    
    .bg-sm{
        max-width: 767px;
        width: 100%;
        margin-top: -20px;
        min-height: 172px;
        height: 100%;
        background-size: cover !important;
        max-height: 343px;
    }
    
    .pricing-table {
    margin: 0px 20px;
}
    
    .main-row {
    margin-left: 0px !important;
    margin-right: 0px !important; 
    }
    
    /*.footer{
        height: 500px !important;
    }*/
    
    #container-footer{
        padding-right: 24px;
        padding-left: 24px;
    }
    #promoted-properties-wrapper {
    color: white;
    height: 380px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    overflow: hidden;
    }

    
    #promoted-properties .emo-caption {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    padding: 2%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    pointer-events: none;
    }
    
    
    #property-host-picture{
        width: 96px;
        height: 96px;
    }

    
    
    
    .text-jumbo {
        color: #990033 !important;
        font-size: 32px;
        font-family: 'Lobster', 'arial';
        /*text-shadow: 1px 1px #cc3366;*/
    }

    
    
    
    
    
    .search-area-sm {
    position: relative;
    width: 100%;
    height: 144px;
    }
    
    .bottom-search-area {
        background: rgba(0,0,0,0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        height: 60px;
        z-index: 9999;
        margin-top: -1%;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .typeahead{z-index:9999}
    
    
    .intro-message {
    color: #f8f8f8;
    position: relative;
    padding-top: 12%;
    padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    padding-bottom: .4em; 
}

.intro-message > h2, .intro-message > p {
    margin: 0px, 5px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 1.5em;
}
    
}



/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {

    .price-chart table td:nth-child(2), .price-chart table td:nth-child(3), .price-chart table td:nth-child(4) {
    width: 200px;
}

    .reason-text {
    text-align: center;
}


    .bg-sm{
        min-width:768px;
        width:100%;
        margin-top: -20px;
        min-height: 420px;
        
    }
    
    .pricing-table {
    margin: 0px 20px;
}
    
    
    
    .main-row {
    margin-left: 0px !important;
    margin-right: 0px !important; 
    }

    #promoted-properties-wrapper {
    color: white;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    }
    
    #promoted-properties .emo-caption {
    position: absolute;
    top: 0px;
    width: 350px;
    height: 100%;
    padding: 2%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    pointer-events: none;
    }

    .offset-profile-picture{
        margin-left: 30%;
        margin-top:10px;
    }
    
    
    
    .search-area-sm {
    position: relative;
    width: 100%;
    height: 342px;
    }
    
    .bottom-search-area {
        background: rgba(0,0,0,0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        height: 60px;
        z-index: 9999;
        margin-top: -27%;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    
    .typeahead{z-index:9999}
    
    
    
        .intro-header{
        height: 40em;
    }

    .intro-message {
    color: #f8f8f8;
    position: relative;
    padding-top: 12%;
    padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
    padding-bottom: .8em; 
}

.intro-message > h2, .intro-message > p {
    margin: 0px, 5px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
}
    
    
 }

 
 
 
 
 
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
    
    .price-chart table td:nth-child(2), .price-chart table td:nth-child(3), .price-chart table td:nth-child(4) {
    width: 200px;
}
    
    .reason-text {
    text-align: left;
}

    
    .bg{
        min-width:992px;
        width:100%;
        margin-top: -20px;
        min-height: 460px;
       
    }
    
    .main-row {
    margin-left: 0px !important;
    margin-right: 0px !important; 
    }
    
    .offset-profile-picture{
        margin-left: 35%;
        margin-top:10px;
    }
    .ptb {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #fff;
    width: 100%;
    }

    
   .pricing-table {
    margin: 0px 20px;
}

.price-table {
  border: 2px solid #5a5a5a;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 5px;
}

.price-table .p-head {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
  line-height: 80px;
  border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
	color: #333333;
	border-bottom: 2px solid #ccc;
	padding: 22px 10px;
    margin-left: -40px;
    text-align: center;
	letter-spacing: 1px;
    height: 70px;
}

.price-table .p-body ul {
	list-style-type: none;
}

.p-body .price .detail {
	font-weight: 500;
	font-size: 32px;
	margin-left: 5px;
	margin-right: 5px;
}

.p-body .price .sub {
	font-size: 18px;
	color: #ccc;
	position: relative;
	bottom: 10px;
	font-weight: 500;
}



.price,.pricing-button{
    text-align:center;
}

.btn-conf-2 {
  border-radius: 50px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 28px 11px 28px;
  margin-top: 20px;
}


    
    
    #promoted-properties-wrapper {
    color: white;
    height: 550px;
    width: 80%;
    margin-left:10%;
    position: relative;
    overflow: hidden;
    }
    
    #promoted-properties .emo-caption {
    position: absolute;
    top: 0px;
    width: 350px;
    height: 100%;
    padding: 2%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    pointer-events: none;
}
    
    

    
    
    .va-container{
        margin-top: 5%;
    }
    
    .search-area {
    position: relative;
    width: 100%;
    height: 460px;
    }
    
    .bottom-search-area {
        background: rgba(0,0,0,0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        height: 60px;
        z-index: 9999;
        margin-top: -15%;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .typeahead{z-index:9999}
    
    
        .intro-header{
        height: 40em;
    }

    .intro-message {
    color: #f8f8f8;
    position: relative;
    padding-top: 12%;
    padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
    padding-bottom: .8em; 
}

.intro-message > h2, .intro-message > p {
    margin: 0px, 5px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
}
    
    
    
    
 }

 
 
 
/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {

    .price-chart table td:nth-child(2), .price-chart table td:nth-child(3), .price-chart table td:nth-child(4) {
    width: 200px;
}

    .bg{
        min-width:1200px;
        width:100%;
        margin-top: -20px;
        min-height: 600px;
       background-size: cover !important;
    }

    
    .intro-message > h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}
    
    .main-row {
    margin-left: 0px !important;
    margin-right: 0px !important; 
    }
    
    .offset-profile-picture{
        margin-left: 35%;
        margin-top:10px;
    }

    #promoted-properties-wrapper {
    color: white;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    }
    
    #promoted-properties .emo-caption {
    position: absolute;
    top: 0px;
    width: 480px;
    height: 100%;
    padding: 2%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    pointer-events: none;
}
    

    

    .search-area {
    position: relative;
    width: 100%;
    height: 600px;
    }
    
    /*.va-container{
        margin-top: 5%;
    }*/
    
    .bottom-search-area {
        background: rgba(0,0,0,0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        height: 60px;
        z-index: 9999;
        margin-top: -15%;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .typeahead{z-index:9999}

    
    .reason-text {
    text-align: left;
}
    .intro-header{
        height: 40em;
    }

    .intro-message {
    color: #f8f8f8;
    position: relative;
    padding-top: 12%;
    padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
    padding-bottom: .8em; 
}

.intro-message > h2, .intro-message > p {
    margin: 0px, 5px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
}
    
}
    
    
}



