<br><br>
{% if func %}
    Obra: {{func.obra_campanya.obra.nombre}} <br>
    {% if func.idioma.id %}Idioma: {{func.idioma.nombre_ca}}<br>{% endif %}
    Data i hora: {{func.fecha_hora|date:"d/m/Y H:i"}} <br>
{% else %}
    Obra: Obra ficticia <br>
    Idioma: Valencià<br>
    Data i hora: 16/05/2015 10:30 <br>
{% endif %}
{% if reserva %}
    Alumnes assistents: {{reserva.alumnos_previsto}} <br>
    Mestres assistents: {{reserva.maestros_previsto}} <br>
    Visita guiada: {% if reserva.visita_guiada %} Si {% else %} No {% endif %} <br>
    Preu: {{reserva.precio_previsto}} €<br><br>
{% else %}
    Alumnes assistents: 50 <br>
    Mestres assistents: 2 <br>
    Visita guiada: Si <br>
    Preu: 160 €<br><br>
{% endif %}

