
<table class="table" width="750">
    <thead>
    <tr style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left" bgcolor="#444">
        <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Obra</th>
        {% if func %}
            {% if func.idioma.id %}<th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Idioma</th>{% endif %}
        {% else %}
            <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Idioma</th>
        {% endif %}
        <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Fecha y hora </th>
        <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Alumnos asistentes </th>
        <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Maestros asistentes </th>
        <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Visita guiada</th>
        <th style="font-family:sans-serif,arial,Helvetica!important;color:#ffffff;font-size:15px;padding-top:0px;text-align:left">Precio</th>
    </tr>
    <tr style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">
        {% if func %}
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{{func.obra_campanya.obra.nombre}}</td>
        {% if func.idioma.id %}<td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{{func.idioma.nombre_es}}</td>{% endif %}
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{{func.fecha_hora|date:"d/m/Y H:i"}}</td>
        {% else %}
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">Obra ficticia</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">Valenciano</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">05/05/2016 10:30</td>
        {% endif %}
        {% if reserva %}
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{{reserva.alumnos_previsto}}</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{{reserva.maestros_previsto}}</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{% if reserva.visita_guiada %} Si {% else %} No {% endif %}</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">{{reserva.precio_previsto}} €</td>
        {% else %}
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">50</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">2</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">Sí</td>
        <td style="font-family:sans-serif,arial,Helvetica!important;color:#000;font-size:14px;padding-top:0px;text-align:left">160 €</td>
        {% endif %}
    </tr>
</table>
<br>