<br><br>
{% if func %}
    Obra: {{func.obra_campanya.obra.nombre}} <br>
    {% if func.idioma.id %}Idioma: {{func.idioma.nombre_es}} <br>{% endif %}
    Fecha y hora: {{func.fecha_hora|date:"d/m/Y H:i"}} <br>
{% else %}
    Obra: Obra ficticia <br>
    Idioma: Valenciano <br>
    Fecha y hora: 16/05/2016 10:30 <br>
{% endif %}
{% if reserva %}
    Alumnos asistentes: {{reserva.alumnos_previsto}} <br>
    Maestros asistentes: {{reserva.maestros_previsto}} <br>
    Visita guiada: {% if reserva.visita_guiada %} Sí {% else %} No {% endif %} <br>
    Precio: {{reserva.precio_previsto}} €<br><br>
{% else %}
    Alumnos asistentes: 50 <br>
    Maestros asistentes: 2 <br>
    Visita guiada: Si <br>
    Precio: 160 €<br><br>
{% endif %}

